/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

.angular-google-map { height: 100%; }
.angular-google-map-container { height: 100%; }

.scroll {
  height: 100%;
}
